{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
    <div class="main-content">
        <!-- Banner -->
        <section class="banner-area overlay-box">
            <div class="overlay "></div>
            <div class="container">
                <div class="banner-content-area text-white">
                    <h1>About Us</h1>
                    <div class="breadcrumb-block">
                        <ul class="list-inline">
                            <li><a href="index.html">Home</a></li>
                            <li>About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner End -->
        <!-- About Us -->
        <section class="section-style-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-xl-7 col-md-12">
                        <h2>About Us</h2>
                        <div class="title-separator bg-primary"></div>
                        <p class="mw900 m-auto">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            an unknown printer took a galley of type and scrambled it to make a type specimen book. It
                            has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged. It was popularised in the 1960s with the release of
                            Letraset..</p>

                        <div class="row m-t30">
                            <div class="col-md-6">
                                <div class="about-box m-b30">
                                    <h4><i class="flaticon-checked fs-28"></i> 18+ Karate Course</h4>
                                    <p class="m-b0">Lorem Ipsum is simply dummy text of the printing and typesetting
                                        industry.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="about-box m-b30">
                                    <h4><i class="flaticon-user fs-28"></i> Well Qualified Couch</h4>
                                    <p class="m-b0">Lorem Ipsum is simply dummy text of the printing and typesetting
                                        industry.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="about-box m-b30">
                                    <h4><i class="flaticon-house-outline fs-28"></i> Best Result</h4>
                                    <p class="m-b0">Lorem Ipsum is simply dummy text of the printing and typesetting
                                        industry.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="about-box m-b30">
                                    <h4><i class="flaticon-technology fs-28"></i> 24X7 Service</h4>
                                    <p class="m-b0">Lorem Ipsum is simply dummy text of the printing and typesetting
                                        industry.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xl-5 col-md-12">
                        <img src="images/pic2.jpg"/>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Us End -->
        <!-- Counter -->
        <section class="section-style-3 overlay-box" style="background-image:url(images/background/bg2.jpg)">
            <div class="overlay black op8"></div>
            <div class="container">
                <div class="row text-center text-white">
                    <div class="col-md-6 col-lg-3 m-b20 col-sm-6">
                        <div class="fs-50 m-b30"><i class="flaticon-user"></i></div>
                        <h2 class="fs-50"><span class="counter">70</span>+</h2>
                        <h6>Well Qualified Couch</h6>
                    </div>
                    <div class="col-md-6 col-lg-3 m-b20 col-sm-6">
                        <div class="fs-50 m-b30"><i class="flaticon-people"></i></div>
                        <h2 class="fs-50"><span class="counter">1283</span></h2>
                        <h6>Student</h6>
                    </div>
                    <div class="col-md-6 col-lg-3 m-b20 col-sm-6">
                        <div class="fs-50 m-b30"><i class="flaticon-checked"></i></div>
                        <h2 class="fs-50"><span class="counter">192</span></h2>
                        <h6> Karate Course</h6>
                    </div>
                    <div class="col-md-6 col-lg-3 m-b20 col-sm-6">
                        <div class="fs-50 m-b30"><i class="flaticon-trophy"></i></div>
                        <h2 class="fs-50"><span class="counter">93</span>+</h2>
                        <h6>International Awards</h6>
                    </div>
                </div>
            </div>
        </section>
        <!-- Counter End -->
        <!-- Team -->
        <section class="section-style">
            <div class="container">
                <div class="row">
                    <div class="head-section col-md-12 text-center">
                        <h2>Meet our Dedicate Team</h2>
                        <div class="title-separator bg-primary"></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the
                            industry's standard dummy text ever since the been when an unknown printer.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-box m-b10">
                            <div class="box-img">
                                <a href="#"><img src="images/our-team/pic6.jpg"/></a>
                            </div>
                            <div class="p-tb15 p-lr10 text-center">
                                <h5><a href="javascript:;">Amber Ford</a></h5>
                                <span class="member-position">Lorem Ipsum is simply dummy text of the printing and typesetting</span>
                                <div class="m-t20">
                                    <ul class="social-icon">
                                        <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-google-plus"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-box  m-b10">
                            <div class="box-img">
                                <a href="#"><img src="images/our-team/pic7.jpg"/></a>
                            </div>
                            <div class="p-tb15 p-lr10 text-center">
                                <h5><a href="javascript:;">Amber Ford</a></h5>
                                <span class="member-position">Lorem Ipsum is simply dummy text of the printing and typesetting</span>
                                <div class="m-t20">
                                    <ul class="social-icon">
                                        <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-google-plus"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-box m-b10">
                            <div class="box-img">
                                <a href="#"><img src="images/our-team/pic8.jpg"/></a>
                            </div>
                            <div class="p-tb15 p-lr10 text-center">
                                <h5><a href="javascript:;">Amber Ford</a></h5>
                                <span class="member-position">Lorem Ipsum is simply dummy text of the printing and typesetting</span>
                                <div class="m-t20">
                                    <ul class="social-icon">
                                        <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-google-plus"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="team-box m-b10">
                            <div class="box-img">
                                <a href="#"><img src="images/our-team/pic9.jpg"/></a>
                            </div>
                            <div class="p-tb15 p-lr10 text-center">
                                <h5><a href="javascript:;">Amber Ford</a></h5>
                                <span class="member-position">Lorem Ipsum is simply dummy text of the printing and typesetting</span>
                                <div class="m-t20">
                                    <ul class="social-icon">
                                        <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                                        <li><a href="javascript:void(0);" class="fa fa-google-plus"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Team End -->
        <!-- Testimonial -->
        <section class="section-style testimonial-block overlay-box"
                 style="background-image:url(images/background/bg1.jpg)">
            <div class="overlay black op8"></div>
            <div class="container">
                <div class="row">
                    <div class="head-section col-md-12 text-center text-white">
                        <h2>What People Says</h2>
                        <div class="title-separator bg-white"></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the
                            industry's standard dummy text ever since typesetting industry has been the industry's
                            been..</p>
                    </div>
                    <div class="col-md-12 col-lg-12 col-xl-12">
                        <div class="testimonial-bx-1 owl-carousel">
                            <div class="item">
                                <div class="testimonial-style-1">
                                    <div class="testimonial-content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the when
                                            an printer took a galley of type and scrambled it to make.</p>
                                    </div>
                                    <div class="testimonial-profile">
                                        <div class="img">
                                            <img src="images/testimonials/pic1.jpg"/>
                                        </div>
                                        <div class="info">
                                            <strong>David Matin</strong>
                                            <span>Businessman</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-style-1">
                                    <div class="testimonial-content">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the when
                                            an printer took a galley of type and scrambled it to make.</p>
                                    </div>
                                    <div class="testimonial-profile">
                                        <div class="img">
                                            <img src="images/testimonials/pic2.jpg"/>
                                        </div>
                                        <div class="info">
                                            <strong>David Matin</strong>
                                            <span>Businessman</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonial End -->
        <!-- Client Logo -->
        <section class="section-box p-tb30">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 client-logo-carousel owl-carousel">
                        <div class="client-logo">
                            <a href="#"><img src="images/logo/logo1.jpg"/></a>
                        </div>
                        <div class="client-logo">
                            <a href="#"><img src="images/logo/logo2.jpg"/></a>
                        </div>
                        <div class="client-logo">
                            <a href="#"><img src="images/logo/logo3.jpg"/></a>
                        </div>
                        <div class="client-logo">
                            <a href="#"><img src="images/logo/logo4.jpg"/></a>
                        </div>
                        <div class="client-logo">
                            <a href="#"><img src="images/logo/logo5.jpg"/></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Client Logo -->
    </div>
{% endblock %}
