/*=========================
	All css
==========================*/
@import url("../plugins/bootstrap/css/bootstrap.css");
@import url("../plugins/magnific-popup/css/magnific-popup.css");
@import url("../plugins/owl-carousel/css/owl.carousel.css");
@import url("../plugins/bootstrap-menu/css/bootstrap-4-hover-navbar.css");
@import url("../plugins/aos/aos.css");
@import url("../plugins/fontawesome/css/font-awesome.min.css");
@import url("../plugins/flaticon/flaticon.css");

/*=========================
	All css
==========================*/
/* @import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,400,600,700,800|Roboto:100,300,400,500,700,900|Raleway:100,300,400,500,700,900'); */

/*
font-family: 'Hind', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'PT Serif', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;
*/