.nav-links {
  @apply flex transition-transform max-md:flex-col max-md:absolute max-md:top-full max-md:left-0 max-md:bg-white max-md:h-screen max-md:py-4 max-md:pr-14 max-md:pl-7 max-md:border max-md:border-r-gray-300;
}

.nav-links ul {
  @apply mx-4;
}

.nav-links li {
  @apply ml-4 max-md:my-2;
}

.nav-links li a {
  @apply uppercase relative;
  font-size: 1.25em;
}

.nav-links li a::after {
  @apply transition-transform absolute block w-full h-px scale-x-0 origin-left bg-[#d43a33];
  content: "";
  bottom: -3px;
}

.nav-links li a:hover::after {
  @apply scale-100;
}

.hamburger {
  @apply hidden max-md:absolute max-md:w-[20px] max-md:h-[20px] max-md:cursor-pointer max-md:flex max-md:items-center max-md:bg-white;
}

.hamburger span {
  @apply max-md:block max-md:w-full max-md:h-[2px] max-md:bg-[#333] max-md:absolute max-md:pointer-events-none;
}

.custom-shape-divider-bottom-1674683020 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1674683020 svg {
  position: relative;
  display: block;
  width: calc(119% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1674683020 .shape-fill {
  fill: #FFFFFF;
}