@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import '@fortawesome/fontawesome-free/css/all.min.css';

body {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 5.5em;
}

h2 {
  @apply my-14 font-bold uppercase;
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}