{% extends 'base.html.twig' %}

{% block title %}Hello PrivacyPolicyController!{% endblock %}
{% block meta_description %}Sur cette page se trouve la politique de confidentialité du site{% endblock %}

{% block body %}
    <section class="relative h-[350px] bg-blend-darken text-white"
             style="background: rgba(0,0,0,0.9) url('{{ asset('images/header-2.jpg') }}') no-repeat center; background-size: cover">
        <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
            <h1 class="whitespace-nowrap text-[5vw] text-center">Politique de confidentialité</h1>
            <ul class="flex justify-center">
                <li class="text-gray-300"><a class="after:content-['/'] after:mx-3" href="{{ path('app_home') }}">Accueil</a>
                </li>
                <li>Politique de confidentialité</li>
            </ul>
        </div>
    </section>
{% endblock %}
