{% extends 'base.html.twig' %}

{% block title %}New Album{% endblock %}

{% block body %}
    {{ include('articles/_form.html.twig') }}

    <a href="{{ path('show.articles') }}">back to list</a>
{% endblock %}