{% extends 'base.html.twig' %}

{% block body %}
    <div class="main-content">
        <!-- Banner -->
        <section class="banner-area overlay-box">
            <div class="overlay "></div>
            <div class="container">
                <div class="banner-content-area text-white">
                    <h1>Gallery Grid 3</h1>
                    <div class="breadcrumb-block">
                        <ul class="list-inline">
                            <li><a href="index.html">Home</a></li>
                            <li>Gallery Grid 3</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner End -->
        <!-- Gallery -->
        <section class="section-style-3 gallery">
            <div class="container">
                <div class="row">
                    {% for album in albums %}
                        <div class="col-md-6 col-lg-4 col-sm-6">
                            <div class="content-box m-b30">
                                <div class="box-inner overlay-box gallery-box">
                                    <a href="{{ path('app_album') }}">
                                        <img src="{{ asset('uploads/media/albums/content/' ~ album.content.get(0).filename) }}"
                                             alt="{{ album.title }}">
                                    </a>
                                    <div class="box-info overlay hover">
                                        <h6 class="m-b0"><a href="#">{{ album.title }}<i
                                                        class="fa fa-angle-right pull-right fs-18 m-t5"></i></a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- Gallery End -->
    </div>
{% endblock %}
