{% extends 'base.html.twig' %}

{% block title %}Hello AlbumController!{% endblock %}

{% block body %}
    <div class="main-content">
        <!-- Banner -->
        <section class="banner-area overlay-box">
            <div class="overlay "></div>
            <div class="container">
                <div class="banner-content-area text-white">
                    <h1>Gallery Grid 3</h1>
                    <div class="breadcrumb-block">
                        <ul class="list-inline">
                            <li><a href="index.html">Home</a></li>
                            <li>Gallery Grid 3</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner End -->
        <!-- Gallery -->
        <section class="section-style-3 gallery">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4 col-sm-6">
                        <div class="content-box m-b30">
                            <div class="box-inner overlay-box gallery-box">
                                <a href="images/our-work/pic1.jpg" data-source="images/our-work/pic1.jpg"
                                   class="mfp-box" title="Image title come here">
                                    <img src="images/our-work/pic1.jpg">
                                </a>
                                <div class="box-info overlay hover">
                                    <h6 class="m-b0"><a href="#">Image title come here<i
                                                    class="fa fa-angle-right pull-right fs-18 m-t5"></i></a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6">
                        <div class="content-box m-b30">
                            <div class="box-inner overlay-box gallery-box">
                                <a href="images/our-work/pic2.jpg" data-source="images/our-work/pic2.jpg"
                                   class="mfp-box" title="Image title come here">
                                    <img src="images/our-work/pic2.jpg">
                                </a>
                                <div class="box-info overlay hover">
                                    <h6 class="m-b0"><a href="#">Image title come here<i
                                                    class="fa fa-angle-right pull-right fs-18 m-t5"></i></a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6">
                        <div class="content-box m-b30">
                            <div class="box-inner overlay-box gallery-box">
                                <a href="images/our-work/pic3.jpg" data-source="images/our-work/pic3.jpg"
                                   class="mfp-box" title="Image title come here">
                                    <img src="images/our-work/pic3.jpg">
                                </a>
                                <div class="box-info overlay hover">
                                    <h6 class="m-b0"><a href="#">Image title come here<i
                                                    class="fa fa-angle-right pull-right fs-18 m-t5"></i></a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6">
                        <div class="content-box m-b30">
                            <div class="box-inner overlay-box gallery-box">
                                <a href="images/our-work/pic4.jpg" data-source="images/our-work/pic4.jpg"
                                   class="mfp-box" title="Image title come here">
                                    <img src="images/our-work/pic4.jpg">
                                </a>
                                <div class="box-info overlay hover">
                                    <h6 class="m-b0"><a href="#">Image title come here<i
                                                    class="fa fa-angle-right pull-right fs-18 m-t5"></i></a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6">
                        <div class="content-box m-b30">
                            <div class="box-inner overlay-box gallery-box">
                                <a href="images/our-work/pic5.jpg" data-source="images/our-work/pic5.jpg"
                                   class="mfp-box" title="Image title come here">
                                    <img src="images/our-work/pic5.jpg">
                                </a>
                                <div class="box-info overlay hover">
                                    <h6 class="m-b0"><a href="#">Image title come here<i
                                                    class="fa fa-angle-right pull-right fs-18 m-t5"></i></a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6">
                        <div class="content-box m-b30">
                            <div class="box-inner overlay-box gallery-box">
                                <a href="images/our-work/pic6.jpg" data-source="images/our-work/pic6.jpg"
                                   class="mfp-box" title="Image title come here">
                                    <img src="images/our-work/pic6.jpg">
                                </a>
                                <div class="box-info overlay hover">
                                    <h6 class="m-b0"><a href="#">Image title come here<i
                                                    class="fa fa-angle-right pull-right fs-18 m-t5"></i></a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6">
                        <div class="content-box m-b30">
                            <div class="box-inner overlay-box gallery-box">
                                <a href="images/our-work/pic7.jpg" data-source="images/our-work/pic7.jpg"
                                   class="mfp-box" title="Image title come here">
                                    <img src="images/our-work/pic7.jpg">
                                </a>
                                <div class="box-info overlay hover">
                                    <h6 class="m-b0"><a href="#">Image title come here<i
                                                    class="fa fa-angle-right pull-right fs-18 m-t5"></i></a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6">
                        <div class="content-box m-b30">
                            <div class="box-inner overlay-box gallery-box">
                                <a href="images/our-work/pic8.jpg" data-source="images/our-work/pic8.jpg"
                                   class="mfp-box" title="Image title come here">
                                    <img src="images/our-work/pic8.jpg">
                                </a>
                                <div class="box-info overlay hover">
                                    <h6 class="m-b0"><a href="#">Image title come here<i
                                                    class="fa fa-angle-right pull-right fs-18 m-t5"></i></a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6">
                        <div class="content-box m-b30">
                            <div class="box-inner overlay-box gallery-box">
                                <a href="images/our-work/pic1.jpg" data-source="images/our-work/pic1.jpg"
                                   class="mfp-box" title="Image title come here">
                                    <img src="images/our-work/pic1.jpg">
                                </a>
                                <div class="box-info overlay hover">
                                    <h6 class="m-b0"><a href="#">Image title come here<i
                                                    class="fa fa-angle-right pull-right fs-18 m-t5"></i></a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6">
                        <div class="content-box m-b30">
                            <div class="box-inner overlay-box gallery-box">
                                <a href="images/our-work/pic4.jpg" data-source="images/our-work/pic4.jpg"
                                   class="mfp-box" title="Image title come here">
                                    <img src="images/our-work/pic4.jpg">
                                </a>
                                <div class="box-info overlay hover">
                                    <h6 class="m-b0"><a href="#">Image title come here<i
                                                    class="fa fa-angle-right pull-right fs-18 m-t5"></i></a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6">
                        <div class="content-box m-b30">
                            <div class="box-inner overlay-box gallery-box">
                                <a href="images/our-work/pic5.jpg" data-source="images/our-work/pic5.jpg"
                                   class="mfp-box" title="Image title come here">
                                    <img src="images/our-work/pic5.jpg">
                                </a>
                                <div class="box-info overlay hover">
                                    <h6 class="m-b0"><a href="#">Image title come here<i
                                                    class="fa fa-angle-right pull-right fs-18 m-t5"></i></a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6">
                        <div class="content-box m-b30">
                            <div class="box-inner overlay-box gallery-box">
                                <a href="images/our-work/pic6.jpg" data-source="images/our-work/pic6.jpg"
                                   class="mfp-box" title="Image title come here">
                                    <img src="images/our-work/pic6.jpg">
                                </a>
                                <div class="box-info overlay hover">
                                    <h6 class="m-b0"><a href="#">Image title come here<i
                                                    class="fa fa-angle-right pull-right fs-18 m-t5"></i></a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6">
                        <div class="content-box m-b30">
                            <div class="box-inner overlay-box gallery-box">
                                <a href="images/our-work/pic7.jpg" data-source="images/our-work/pic7.jpg"
                                   class="mfp-box" title="Image title come here">
                                    <img src="images/our-work/pic7.jpg">
                                </a>
                                <div class="box-info overlay hover">
                                    <h6 class="m-b0"><a href="#">Image title come here<i
                                                    class="fa fa-angle-right pull-right fs-18 m-t5"></i></a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6">
                        <div class="content-box m-b30">
                            <div class="box-inner overlay-box gallery-box">
                                <a href="images/our-work/pic8.jpg" data-source="images/our-work/pic8.jpg"
                                   class="mfp-box" title="Image title come here">
                                    <img src="images/our-work/pic8.jpg">
                                </a>
                                <div class="box-info overlay hover">
                                    <h6 class="m-b0"><a href="#">Image title come here<i
                                                    class="fa fa-angle-right pull-right fs-18 m-t5"></i></a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-sm-6">
                        <div class="content-box m-b30">
                            <div class="box-inner overlay-box gallery-box">
                                <a href="images/our-work/pic1.jpg" data-source="images/our-work/pic1.jpg"
                                   class="mfp-box" title="Image title come here">
                                    <img src="images/our-work/pic1.jpg">
                                </a>
                                <div class="box-info overlay hover">
                                    <h6 class="m-b0"><a href="#">Image title come here<i
                                                    class="fa fa-angle-right pull-right fs-18 m-t5"></i></a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Gallery End -->
    </div>
{% endblock %}
